.co_body_div_board_wrapper {
    height: 48%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.co_body_div_board {
    height: 90%;
    width: 90%;
    font-size: 9rem;
    font-family: "Grinched";
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    color: black;
    border: 3px solid black;
    border-radius: 15px 50px;
    box-shadow: 7px 7px black;
}
.co_body_div_operator {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.co_expression {
    width: 17%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.co_result {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.co_footer_div {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1024px) {
    .co_body_div_board {
        font-size: 7rem;
    }
}

@media only screen and (max-width: 720px) {
    .co_body_div_board {
        font-size: 5rem;
    }
}
