.account_board_wrapper {
    height: 250px;
    width: 100%;
    margin-top: 15px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    background-color: white;
}
.account_board {
    height: 80%;
    width: 90%;
    background-color: yellow;
    border: 1px solid grey;
    box-shadow: 10px 10px grey;
}
.account_tabs {
    height: 20%;
    width: 90%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: yellow;
    border: 1px solid grey;
    box-shadow: 10px 10px grey;
}
.account_tab {
    height: 100%;
    width: 20%;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;

    cursor: pointer;
    color: green;
    user-select: none;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-variant: small-caps;
    font-size: 1.35rem;
    font-weight: bold;

    transition: transform 1.0s;
}
