.avatars_board_wrapper {
    height: 100%;
    width: 100%;
    margin-top: 10px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    background-color: white;
}
.avatars_board {
    width: 90%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.avatar_box {
    width: 140px;
    height: 140px;
    margin: 5px;

    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;

    border: 1px solid grey;
    border-radius: 50%;
}
.avatar_box:hover {
    border: 1px solid black;
}
.avatar_box img {
    width: 100%;
    height: auto;
    transition: transform 1.0s;
}
.avatar_box img:hover {
    transform: scale(1.1);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.avatar_box_selected {
    width: 140px;
    height: 140px;
    margin: 5px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;

    border: 3px solid black;
    border-radius: 50%;
}
.avatar_box_selected img {
    width: 100%;
    height: auto;
}
@media only screen and (max-width: 860px) {
    .avatars_board_wrapper {
        margin-top: 5px;
    }
    .avatars_board {
        width: 99%;
    }
    .avatar_box {
        width: 120px;
        height: 120px;
    }
    .avatar_box_selected {
        width: 120px;
        height: 120px;
    }
}
@media only screen and (max-width: 660px) {
    .avatar_box {
        width: 100px;
        height: 100px;
    }
    .avatar_box_selected {
        width: 100px;
        height: 100px;
    }
}
@media only screen and (max-width: 460px) {
    .avatar_box {
        width: 80px;
        height: 80px;
    }
    .avatar_box_selected {
        width: 80px;
        height: 80px;
    }
}