.exchange_board_wrapper {
    width: 100%;
    margin-top: 10px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    user-select: none;
    background-color: white;
}
.exchange_board {
    width: 90%;
    height: auto;

    font-size: 2.5rem;
    font-family: 'Grinched';
    font-variant: small-caps;

    color: orange;
    text-shadow: 2px 2px 2px black;
}
.exchange_board_line {
    height: 90px;
    width: 100%;
    margin-top: 2%;

    font-size: 3rem;
    font-family: 'Grinched';
    font-variant: small-caps;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.exchange_board_line_item {
    height: 90px;
    width: 90px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}
.exchange_board_line_item_img {
    height: 110%;
    width: auto;
    transition: transform .5s;
    border-radius: 50%;
    border: 7px solid grey;
}
.exchange_board_line_item_img:hover {
    transform: scale(1.03);
    border: 8px solid grey;
}
.exchange_board_line_item_img_selected {
    height: 110%;
    width: auto;
    transition: transform .5s;
    border-radius: 50%;
    border: 7px solid green;
}
.exchange_board_line_item_img_selected:hover {
    transform: scale(1.03);
    border: 8px solid green;
}
.exchange_board_line_signs {
    height: 100%;
    width: 20%;
    margin-top: 2%;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: ponter;
    transition: transform .5s;
}
.exchange_board_line_signs font {
    cursor: ponter;
}
.exchange_board_line_signs:hover {
    transform: scale(1.05);
}
.exchange_board_line_slider {
    height: 100%;
    width: 59%;
    margin-top: 2%;

    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 860px) {
    .exchange_board {
        width: 99%;
    }
}
@media only screen and (max-width: 740px) {
    .exchange_board {
        font-size: 2.0rem;
    }
    .exchange_board_line {
        height: 65px;
        margin-top: 5px;
        font-size: 2.5rem;
    }
    .exchange_board_line_item {
        height: 65px;
        width: 65px;
    }
}

