.exchangeboard {
    height: 100%;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;

    line-height: 0.9;
    text-shadow: 1px 1px 2px black;
}
.exchangegriditem {
    line-height: 0.9;
    border: 1px solid grey;
    border-radius: 5px;
}
.exchangegriditemgreen {
    color: green;
}
.exchangegriditemred {
    color: red;
}
.exchangebutton {
    padding-left: 4%;
    padding-right: 4%;
    color: orange;
    cursor: pointer;
    line-height: 0.9;
    border: 3px solid orange;
    border-radius: 5px;
}
.exchangebuttongreen {
    padding-left: 2%;
    padding-right: 2%;
    color: green;
    cursor: pointer;
    line-height: 0.9;
    border: 3px solid green;
    border-radius: 5px;
}
