.exchange_board_wrapper {
    width: 100%;
    margin-top: 10px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    user-select: none;
    background-color: white;
}
.exchange_board {
    width: 90%;
    height: auto;

    font-size: 2.5rem;
    font-family: 'Grinched';
    font-variant: small-caps;
    color: orange;
    text-shadow: 2px 2px 2px black;
}
.exchange_board_line {
    height: 70px;
    width: 100%;
    margin: 1%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.exchange_board_line_operation {
    height: 30px;
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.exchange_board_line_col {
    height: 100%;
    width: 25%;
    margin-left: 1%;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    border: 1px solid grey;
}
.font_rate {
    font-size: 1.5rem;
}
.font_oper {
    margin-left: 10%;
    margin-right: 10%;

    color: red;
    cursor: pointer;
    font-size: 5.5rem;
    transition: all 0.6s;
}
.font_oper:hover {
    transform: scale(1.05);
    color: blue;
}
@media only screen and (max-width: 860px) {
    .exchange_board {
        width: 99%;
    }
    .exchange_board_line_col {
        height: 100%;
        width: 33%;
        margin-left: 1%;
        margin-right: 1%;
        border-radius: 7px;
    }
}
@media only screen and (max-width: 740px) {
    .exchange_board {
        font-size: 2.0rem;
    }
    .exchange_board_line {
        height: 45px;
    }
    .exchange_board_line_operation {
        height: 25px;
    }
    .font_oper {
        font-size: 4.5rem;
    }
}
