.logout_wrapper {
    width: 350px;
    height: auto;

    position: absolute;
    z-index: 10;
    top: 15%;
    right: 80px;

    user-select: none;
    border: 2px solid black;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 0px grey;
}
.logout_wrapper_img {
    height: 150px;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.logout_wrapper_img img {
    height: 80%;
    width: auto;
    cursor: pointer;
}
.logout_wrapper_title {
    height: 35px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    text-align: left;
    font-size: 3.0rem;
    font-family: 'Grinched';
    font-variant: small-caps;
    color: orange;
    text-shadow: 2px 2px 2px black;
}
.logout_wrapper_question {
    height: 35px;
    width: 100%;

    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-variant: small-caps;
    font-size: 1.35rem;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
}
.logout_wrapper_btns {
    height: 80px;
    width: 100%;
}
.logout_wrapper_btns_left {
    height: 100%;
    width: 50%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logout_wrapper_btns_right {
    height: 100%;
    width: 49%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logout_users_wrapper {
    width: 100%;
    user-select: none;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.logout_users_account {
    width: 98%;
    height: 70px;
    margin-top: 3px;
    margin-bottom: 3px;
    cursor: pointer;

    font-size: 0.85rem;
    font-weight: bold;

    border-radius: 5px;
    border: 1px solid white;
    transition: all .5s;
}
.logout_users_account:hover {
    border-radius: 5px;
    border: 1px solid grey;
}
.logout_users_avatar {
    width: 20%;
    height: 100%;
    float: left;

    display: flex;
    align-items: center;
    justify-content: center;
}
.logout_users_avatar img {
    height: 97%;
    width: auto;
}
.logout_users_name {
    width: 77%;
    height: 100%;
    margin-left: 3%;
    float: right;
}
.logout_users_name_signout {
    width: 100%;
    height: 20%;
    font-size: 0.70rem;
    text-align: right;
}
.logout_users_name_signout font {
    transition: all .5s;
}
.logout_users_name_signout font:hover {
    transform: scale(1.05);
    background-color: black;
    color: white;
}
.logout_users_name_surname {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
}
.logout_users_name_email {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 740px) {
    .logout_wrapper {
        top: 10px;
        right: 10px;
        height: 400px;
    }
}
@media only screen and (max-width: 440px) {
    .logout_wrapper {
        height: 100%;
        width: 100%;

        position: absolute;
        z-index: 10;
        top: 0;
        right: 0;
        border: none;

        background-color: white;
        border-radius: 0px;
        box-shadow: 1px 1px 3px 0px grey;
    }

}
