.settings_board_wrapper {
    height: 100%;
    width: auto;
    margin-top: 25px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    background-color: white;
}
.settings_board {
    width: 90%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
