.userinfoboard {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
    background-color: yellow;
    border: 1px solid grey;
    box-shadow: 10px 10px grey;
}
.userinfoboard_name_age {
    width: 70%;
    height: 100%;
    float: left;
}
.userinfoboard_name_age_na {
    padding-left: 4%;
    width: 98%;
    height: 49%;

    font-size: 2.5rem;
    font-family: 'Grinched';
    font-variant: small-caps;
    color: orange;
    text-shadow: 2px 2px 2px black;

    text-align: left;
    display: flex;
    align-items: center;
}
.userinfoboard_avatar_div {
    margin-bottom: 1%;
    width: 23%;
    height: 99%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}
