.trophy_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    user-select: none;
    background-color: #8080ff;
}
.trophy_loading_wrapper {
    width: 98%;
    min-height: 350px;
    margin-left: 1%;
    margin-right: 1%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.trophy_loading_wrapper img {
    height: 140px;
    width: auto;
    animation: numbers360rotation 4s linear infinite;
}
.trophy_table_wrapper {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
}

.trophy_table_line_fake {
    height: 45px;
    width: 98%;
    margin-top: 3px;
    margin-left: 1%;
    margin-right: 1%;
    font-size: 1.6rem;
}
.trophy_table_line_index_fake {
    height: 100%;
    width: 8%;
    float: left;
}
.trophy_table_line_name_fake {
    height: 100%;
    width: 52%;
    float: left;

    color: orange;
    font-family: 'Grinched';
    font-size: 1.45rem;
    text-align: center;
    text-shadow: 1px 1px 2px black;

    display: flex;
    align-items: center;
    justify-content: center;
}
.trophy_table_line_numb_fake {
    height: 100%;
    width: 13%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trophy_table_line {
    height: 45px;
    width: 98%;
    margin-top: 3px;
    margin-left: 1%;
    margin-right: 1%;

    color: black;
    cursor: pointer;
    user-select: none;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;

    background-color: white;
    border-radius: 9px;
}
.trophy_table_line:hover {
    border: 3px solid #000080;
}
.trophy_table_line_index {
    height: 100%;
    width: 8%;
    float: left;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    white-space: nowrap; 
    text-overflow: clip; 

    border-width: 1px;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: none;

    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    background-color: #ffdf80;
}
.trophy_table_line_name {
    height: 100%;
    width: 52%;
    float: left;

    overflow: hidden;
    white-space: nowrap; 
    text-overflow: clip; 

    display: flex;
    align-items: center;
}
.trophy_table_line_name img {
    height: 113%;
    width: auto;
}
.trophy_table_line_name font {
    padding-left: 1%;
}
.trophy_table_line_numb {
    height: 100%;
    width: 13%;
    float: right;

    overflow: hidden;
    white-space: nowrap; 
    text-overflow: clip; 

    display: flex;
    align-items: center;
    justify-content: center;

    border-width: 1px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: solid;
}

@-moz-keyframes numbers360rotation { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes numbers360rotation { 100% { -webkit-transform: rotate(360deg); } }
@keyframes numbers360rotation { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@keyframes fade { from {opacity: .1}  to {opacity: 1} }

@media only screen and (max-height: 460px) {
    .trophy_table_line_fake {
        display: none;
    }
}
