.trophy_wrapper {
    margin-left: 5px;
    margin-right: 5px;

    user-select: none;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.trophy_table_wrapper {
    min-width: 663px;
    max-width: 663px;
    min-height: 470px;
    margin: 13px;
}
.trophy_throw_wrapper {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.trophy_throw_wrapper img {
    height: 140px;
    width: auto;
    -webkit-animation: numbers360rotation 4s linear infinite;
    -moz-animation: numbers360rotation 4s linear infinite;
    animation: numbers360rotation 4s linear infinite;
}
@-moz-keyframes numbers360rotation { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes numbers360rotation { 100% { -webkit-transform: rotate(360deg); } }
@keyframes numbers360rotation { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.trophy_table_row {
    height: 37px;
    width: 100%;

    cursor: pointer;
    margin-top: 5px;
    font-size: 1.4rem;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
    transition: all 2s;
    animation: fade 2s;
}
@keyframes fade {
  from {opacity: .1} 
  to {opacity: 1}
}
.trophy_table_cell_throw {
    height: 100%;
    width: 10%;
    float: left;

    margin-left: 3px;
    margin-right: 3px;
    padding: 3px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    transition: all .5s;
}
.trophy_table_cell_throw:hover {
    transform: scale(1.2);
}
.trophy_table_cell_num {
    height: 100%;
    width: 10%;
    float: left;

    margin-left: 3px;
    margin-right: 3px;
    padding: 3px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: yellow;

    border-radius: 5px;
    box-shadow: 1px 1px 3px 0px grey;
}
.trophy_table_cell_ava {
    height: 100%;
    width: 8%;
    float: left;

    margin-left: 3px;
    margin-right: 3px;
    padding: 3px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: yellow;

    border-radius: 5px;
    box-shadow: 1px 1px 3px 0px grey;
}
.trophy_table_cell_blt {
    height: 100%;
    width: 8%;
    float: left;

    margin-left: 3px;
    margin-right: 3px;
    padding: 3px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: yellow;

    border-radius: 5px;
    box-shadow: 1px 1px 3px 0px grey;
}
.trophy_table_cell_blt_level {
    height: 69%;
    width: 65%;

    border-radius: 50%;

    background-color: white;
    border: 1px solid black;
}
.trophy_table_cell_ava img {
    height: 100%;
    width: auto;
    margin-top: 0px;
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
    transition: all .5s;
}
.trophy_table_cell_ava img:hover {
    transform: scale(1.2);
}
.trophy_table_cell_name {
    height: 100%;
    width: 50%;

    float: left;

    margin-left: 3px;
    margin-right: 3px;

    padding-left: 9px;
    padding-right: 9px;

    display: flex;
    align-items: center;

    overflow: hidden;
    white-space: nowrap; 
    text-overflow: clip; 

    border-radius: 5px;
    box-shadow: 1px 1px 3px 0px grey;
    background-color: #bbff99;
}
.trophy_table_cell_res {
    height: 100%;
    width: 13%;
    float: right;

    margin-left: 3px;
    margin-right: 3px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: yellow;

    border-radius: 5px;
    box-shadow: 1px 1px 3px 0px grey;
}
@media only screen and (max-width: 520px) {
    .trophy_table_wrapper {
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        margin: 3px;
    }
    .trophy_table_row {
        height: 37px;
        width: 100%;
        margin-top: 3px;
        font-size: 1.0rem;
        font-weight: bold;
    }
}
