.help_wrapper {
    height: 50px;
    width: 100%;
    user-select: none;
    /* light yellow background */
    background-color: #ffffcc;
}
.help_tabs_wrapper {
    height: 45px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    user-select: none;
    /* light blue background */
    background-color: #99ccff;
}
.help_tab_wrapper {
    height: 100%;
    width: 13%;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;

    user-select: none;
    cursor: pointer;
    color: #333300;
    user-select: none;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-variant: small-caps;
    font-size: 1.35rem;
    font-weight: bold;

    transition: transform 1.0s;
    transform: scale(1.0);
}
.typography_wrapper {
    height: 100%;
    width: 100%;

    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.typography_div_title {
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;

    text-align: justify;
    user-select: none;

    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 0px grey;
}
.typography_div_wrapper {
    height: 100%;
    width: 95%;
    user-select: none;
}
@media only screen and (max-width: 800px) {
    .help_tab_wrapper {
        width: 20%;
    }
    .typography_div_wrapper {
        height: 100%;
        width: 98%;
    }
}
