.help_wrapper {
    height: 100px;
    width: 100%;
    margin-bottom: 40px;
    /* light yellow background */
    background-color: #ffffcc;
}
.help_tabs_wrapper {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* light blue background */
    background-color: #99ccff;
}
.help_tab_wrapper {
    height: 100%;
    width: 13%;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;

    cursor: pointer;
    color: #333300;
    user-select: none;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-variant: small-caps;
    font-size: 1.35rem;
    font-weight: bold;

    transition: transform 1.0s;
    transform: scale(1.0);
}
.typography_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.typography_div_wrapper {
    height: 100%;
    width: 95%;
}
