.cardtask_wrapper {
    min-height: 250px;
    min-width: 285px;
    margin: 13px;

    background-color: white; /*#d9d9d9;*/
    border-radius: 5px;
    box-shadow: 1px 1px 3px 0px grey;
}
.cardtask_wrapper_title {
    height: 50px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: green;
    user-select: none;
    font-family: 'Grinched';
    font-variant: small-caps;
    font-size: 2.5rem;

    cursor: pointer;
    overflow: hidden;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.cardtask_wrapper_description {
    height: 140px;
    width: 285px;

    padding-left: 17px;
    padding-right: 17px;

    text-align: justify;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #666633;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
.cardtask_wrapper_image {
    height: 140px;
    width: 140px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid grey;
}
.cardtask_wrapper_image img {
    height: 140px;
    width: auto;
}
.cardtask_wrapper_btn {
    height: 30px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cardtask_wrapper_rate {
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}
