.card_wrapper {
    min-width: 285px;
    min-height: 250px;
    margin: 13px;

    cursor: pointer;
    background-color: white;

    border-radius: 5px;
    box-shadow: 1px 1px 3px 0px grey;
}
@keyframes rotate {
    100% { transform: rotate(360deg); }
}
.card_wrapper_img {
    height: 161px;
    width: auto;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.card_wrapper_img img {
    height: 161px;
    width: auto;
    transition: transform .5s;
}
.card_wrapper_img:hover img {
    transform: scale(1.05);
}
.card_wrapper_text {
    height: 52px;
    min-width: 285px;
    max-width: 285px;

    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;

    color: #333333;
    text-align: left;
    user-select: none;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 14px;

    background-color: #fbfbf8;
}
.card_wrapper_btn {
    height: 35px;
    width: 100%;
    padding-left: 10px;

    display: flex;
    align-items: center;

    background-color: #fbfbf8;
    color: #3f51b5;
}
.card_info_title {
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    color: orange;
    font-family: 'Grinched';
    font-size: 3.0rem;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    line-height: 0.9;
}
.card_info_text {
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;

    user-select: none;
    color: #333333;
    text-align: justify;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.card_info_text img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 13px;
    width: 100%;
}
