.contact_info_title {
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    color: orange;
    font-family: 'Grinched';
    font-size: 3.0rem;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    line-height: 0.9;
}
.contact_email_wrapper {
    width: 100%;
    min-height: 350px;
    text-align: center;
}
.contact_connect_wrapper {
    width: 100%;
    min-height: 100px;

    text-align: center;
    user-select: none;
    font-family: 'Lucida Console';
    font-size: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.contact_email_image {
    width: 40%;
    height: 100%;
    float: left;
}
.contact_email_image_img {
    width: auto;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact_email_image_alt_text {
    width: 100%;
    height: 40%;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    user-select: none;
    font-family: 'Lucida Console';
    font-size: 14px;
}
.contact_email_form {
    width: 59%;
    height: 100%;
    float: right;
}
.contact_textfield {
    height: 13%;
    width: 90%;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;

}
