.share_image {
    width: 25%;
    height: auto;
    user-select: none;
}
.share_bonus_code {
    width: 100%;
    margin-top: 13px;

    font-size: 4rem;
    font-weight: bold;
    font-family: TeleGrotesk, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;

    text-align: center;
}
.share_bonus_code font {
    padding: 7px;

    border-radius: 5px;
    box-shadow: 1px 1px 3px 0px grey;
    border: 1px solid black;
}
