.body_wrapper {
    position: static;
    width: 100%;
    transition: background-color 2s;
}
.tasks_wrapper {
    margin: 10px;
    position: static;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.tabs_wrapper {
    position: static;
    height: 48px;
    width: 100%;

    display: flex;
    justify-content: center;

    background-color: #fbfbf8;
    box-shadow: 2px 2px 5px 0px grey;  
}
.tabs_div_wrapper {
    height: 48px;
    width: 160px;
    cursor: pointer;

    display: flex;
    align-items: center;

    overflow: hidden;
    white-space: nowrap; 
    text-overflow: clip; 
}
.tabs_div {
    height: 45px;
    width: 160px;
    margin-bottom: 3px;

    overflow: hidden;
    white-space: nowrap; 
    text-overflow: clip; 

    background-color: #fbfbf8;

    user-select: none;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-variant: small-caps;
    font-size: 1.35rem;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
}
.tasks_waver {
    width: 100%;
    height: 50px;
    margin-top: 10px;
}
