.body_wrapper {
    position: static;
    width: 100%;
    transition: background-color 2s;
}
.tasks_wrapper {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    position: static;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.tabs_wrapper {
    position: static;
    height: 48px;
    width: 100%;

    display: flex;
    justify-content: center;

    background-color: #fbfbf8;
    box-shadow: 2px 2px 5px 0px grey;  
}
.tabs_div_wrapper {
    height: 48px;
    width: 160px;
    cursor: pointer;

    display: flex;
    align-items: center;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
}
.tabs_div {
    height: 45px;
    width: 160px;
    margin-bottom: 3px;

    overflow: hidden;
    white-space: nowrap; 
    text-overflow: clip; 

    background-color: #fbfbf8;

    user-select: none;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-variant: small-caps;
    font-size: 1.35rem;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
}
.tasks_waver {
    margin-top: -35px;
    width: 100%;
    height: 40px;
}
.footer_wrapper {
    width: 100%;
    height: 23px;
    padding-bottom: 5px;

    cursor: pointer;
    user-select: none;

    font-size: 14px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;

    background-color: #3f51b5;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}
.footer_copyright {
    width: 25%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: clip; 
}
.footer_share {
    width: 13%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: clip;
}
.footer_contacts {
    width: 13%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: clip;
}

/*this is solution to show tasks in three rows*/
@media only screen and (max-width: 2500px) {
    .tasks_wrapper {
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media only screen and (max-width: 1580px) {
    .tasks_wrapper {
        border: none;
        margin-left: 10px;
        margin-right: 10px;
    }
    .footer_copyright {
        width: 30%;
    }
    .footer_share {
        width: 25%;
    }
    .footer_contacts {
        width: 25%;
    }
}
@media only screen and (max-width: 1000px) {
    .footer_copyright {
        width: 35%;
    }
    .footer_share {
        width: 25%;
    }
    .footer_contacts {
        width: 25%;
    }
}
@media only screen and (max-height: 800px) {
    .tasks_waver {
        margin-top: -15px;
        width: 100%;
        height: 40px;
    }
    .footer_copyright {
        width: 45%;
    }
    .footer_share {
        width: 25%;
    }
    .footer_contacts {
        width: 25%;
    }
}
@media only screen and (max-width: 550px) {
    .footer_copyright {
        width: 55%;
    }
    .footer_share {
        width: 22%;
    }
    .footer_contacts {
        width: 22%;
    }
}
