.tabs_wrapper {
    position: static;
    height: 48px;
    width: 100%;

    display: flex;
    justify-content: center;

    background-color: #fbfbf8;
    box-shadow: 2px 2px 5px 0px grey;  

    margin-bottom: 30px;
}
.tabs_div_wrapper {
    height: 48px;
    width: 160px;
    cursor: pointer;

    display: flex;
    align-items: center;

    overflow: hidden;
    white-space: nowrap; 
    text-overflow: clip; 
}
.tabs_div {
    height: 45px;
    width: 160px;
    margin-bottom: 3px;

    overflow: hidden;
    white-space: nowrap; 
    text-overflow: clip; 

    background-color: #fbfbf8;

    user-select: none;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-variant: small-caps;
    font-size: 1.35rem;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
}
.ripple {
    background-color: #3f51b5;
    width: 1rem;
    height: 1rem;
    position: absolute;
    border-radius: 10%;
    transform: translateX(-100%) translateY(-100%);
    mix-blend-mode: screen;
    animation: ripple 1000ms ease-out forwards;
}
@keyframes ripple {
    0%   { transform: translate(-100%, -100%); }
    80%  { transform: translate(-100%, -100%) scale(50); }
    100% { transform: translate(-100%, -100%) scale(50); opacity: 0; }
}