.title_header {
    margin-left: 13px;
    user-select: none;
    font-size: 24px;
    font-weight: bold;
    font-family: TeleGrotesk, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}
@media only screen and (max-width: 660px) {
    .title_header {
        margin-left: 13px;
        font-size: 16px;
    }
}

@media only screen and (max-height: 450px) {
}
