.calendar_wrapper {
    height: 120px;
    width: 100%;
    background: orange;
    text-align: center;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-variant: small-caps;
    font-weight: bold;
    color: white;

    user-select: none;
    display: flex;
}
.calendar_prev_next {
    height: 100%;
    width: 7%;
    font-size: 2.0rem;

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 1.0s;
}
.calendar_prev_next:hover {
    background: #ffd9b3;
    font-size: 2.5rem;
}
.calendar_month {
    height: 100%;
    width: 85%;

    font-size: 2.0rem;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;
}
.calendar_weekdays {
    width: 100%;
    margin: 0;
    padding: 10px 0;

    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 0.95rem;
    font-weight: bold;
    user-select: none;
    background-color: #ddd;
}
.calendar_weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
    user-select: none;
}
.calendar_days {
    width: 100%;
    padding: 10px 0;
    margin: 0;
    background: #eee;
    user-select: none;
}
.calendar_days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
    user-select: none;
}
