.game_footer_div {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 760px) {
    .game_footer_div {
        display: none;
    }
}
@media only screen and (max-height: 770px) {
    .game_footer_div {
        height: 5%;
        margin-bottom: 1%;
    }
}
@media only screen and (max-height: 500px) {
    .game_footer_div {
        display: none;
    }
}
