.game_footer_div {
    height: 10%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-height: 770px) {
    .game_footer_div {
        height: 25px;
        width: 100%;
    }
}
