.games_header_div {
    height: 10%;
    width: 100%;
    font-size: 2.00rem;
    font-family: 'Grinched';
    text-shadow: 2px 2px black;
}
.games_header_div_left {
    height: 100%;
    width: 61%;
    padding-left: 2%;

    color: green;
    float: left;
    cursor: pointer;
    user-select: none;

    display: flex;
    align-items: center;
}
.games_header_div_right {
    height: 100%;
    width: 38%;
    float: right;

    cursor: pointer;
    color: orange;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: space-around;
}
.gameboard_wrapper {
    height: 100%;
    width: 100%;
}
.line_body_div_left {
    height: 100%;
    width: 64%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line_body_div_right {
    height: 100%;
    width: 35%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line_body_div_up {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line_body_div_bottom {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line_gameboard {
    height: 80%;
    width: 95%;

    font-family: 'Grinched';
    font-size: 6rem;

    display: flex;
    align-items: center;
    justify-content: center;

    user-select: none;
    background-color: yellow;
    color: black;

    border: 3px solid black;
    border-radius: 15px 50px;
    box-shadow: 7px 7px black;
}
.line_gameboard_numbers {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line_task {
    height: 100%;
    display: flex;
    align-items: center;
}
.line_result {
    height: 100%;
    width: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px black;
}
.line_3result {
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px black;
}
.line_4result {
    height: 100%;
    width: 21%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px black;
}
.line_5result {
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px black;
}
.line_expression {
    height: 100%;
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.column_number {
    margin-right: 10%;
    height: 17%;
    width: 80%;
    text-align: right;
    float: right;
    line-height: 0.9;
}
.column_black_line {
    margin-right: 5%;
    width: 45%;
    height: 8px;
    background-color: black;
    border: 0 none;
    float: right;
    border-radius: 5px;
}
.column_result {
    margin-right: 10%;
    height: 20%;
    width: 80%;
    float: right;
    text-align: right;
    line-height: 1.2;
}

.game_footer_div {
    height: 10%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.game_footer_div_svg {
    height: 100%;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
@keyframes smooth_yellow_to_green {
    from {background-color: yellow;}
    to {background-color: green;}
}
@keyframes smooth_green_to_yellow {
    from {background-color: green;}
    to {background-color: yellow;}
}

@media only screen and (max-width: 1200px) {
    .line_gameboard {
        font-size: 5rem;
    }
    .line_result {
        width: 17%;
    }
}
@media only screen and (max-width: 1020px) {
    .line_gameboard {
        font-size: 4rem;
    }
}
@media only screen and (max-width: 760px) {
    .games_header_div {
        margin-top: 3px;
        font-size: 2rem;
        text-shadow: 1px 1px black;
    }
    .games_header_div_left {
        width: 59%;
    }
    .games_header_div_right {
        width: 40%;
    }
    .line_gameboard {
        font-size: 3rem;
    }
    .line_body_div_left {
        height: 100%;
    }
    .line_body_div_right {
        height: 80%;
        margin-top: 13%;
    }
}
@media only screen and (max-width: 600px) {
    .games_header_div {
        margin-top: 1px;
        font-size: 1.8rem;
        text-shadow: 1px 1px black;
    }
    .games_header_div_left {
        width: 39%;
    }
    .games_header_div_right {
        width: 60%;
    }
    .line_body_div_left {
        height: 49%;
        width: 100%;
        float: none;
    }
    .line_body_div_right {
        height: 49%;
        width: 100%;
        float: none;
        margin-top: 2%;

        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    .line_gameboard {
        height: 95%;
        width: 95%;
        font-size: 4rem;
    }
    .line_gameboard_comp {
        font-size: 2.6rem;
    }
}
@media only screen and (max-width: 500px) {
    .line_gameboard {
        font-size: 3rem;
    }
    .line_gameboard_comp {
        font-size: 2.5rem;
    }
    .line_gameboard_numbers {
        font-size: 2.2rem;
    }
}
@media only screen and (max-width: 480px) {
    .games_header_div_left {
        width: 34%;
    }
    .games_header_div_right {
        width: 65%;
    }
}
@media only screen and (max-width: 400px) {
    .games_header_div {
        font-size: 1.5rem;
    }
    .line_gameboard {
        font-size: 2.6rem;
    }
    .line_gameboard_numbers {
        font-size: 2.1rem;
    }
}
