.games_header_div {
    height: 10%;
    width: 100%;
    font-size: 2.00rem;
    font-family: "Grinched";
    text-shadow: 2px 2px black;
}
.games_header_div_left {
    height: 100%;
    width: 61%;
    padding: 2%;
    float: left;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: green;
}
.games_header_div_right {
    height: 100%;
    width: 38%;
    float: right;
    cursor: pointer;
    color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
}
.games_header_div_right:hover {
    border: 3px dotted grey;
    border-radius: 25px;
}
.games_header_div_left_avatar {
    height: 25px;
    width: 25px;
    margin-left: 2%;
    margin-bottom: 1%;
    cursor: pointer;
    font-size: large;
}

@media only screen and (max-width: 760px) {
    .games_header_div {
        font-size: 1.5rem;
        font-family: "Grinched";
        text-shadow: 1px 1px black;
    }
    .games_header_div_left {
        width: 49%;
    }
    .games_header_div_right {
        width: 50%;
    }
}
@media only screen and (max-height: 770px) {
    .games_header_div {
        height: 5%;
        margin-top: 1%;

        font-size: 1.5rem;
        font-family: "Grinched";
        text-shadow: 1px 1px black;
    }
}
