.gameboard_wrapper {
    height: 100%;
    width: 100%;
}
.line_body_div_left {
    height: 100%;
    width: 61%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line_body_div_right {
    height: 100%;
    width: 38%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line_body_div_up {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line_body_div_bottom {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line_gameboard {
    height: 90%;
    width: 95%;

    font-family: "Grinched";
    font-size: 6rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: yellow;
    color: black;

    border: 3px solid black;
    border-radius: 15px 50px;
    box-shadow: 7px 7px black;
}
.line_task {
    height: 100%;
    display: flex;
    align-items: center;
}
.line_result {
    height: 100%;
    width: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px black;
}
.line_expression {
    height: 100%;
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.column_number {
    margin-right: 10%;
    height: 17%;
    width: 80%;
    text-align: right;
    float: right;
    line-height: 0.9;
}
.column_black_line {
    margin-right: 5%;
    width: 45%;
    height: 8px;
    background-color: black;
    border: 0 none;
    float: right;
    border-radius: 5px;
}
.column_result {
    margin-right: 10%;
    height: 20%;
    width: 80%;
    float: right;
    text-align: right;
    line-height: 1.2;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
@keyframes smooth_yellow_to_green {
    from {background-color: yellow;}
    to {background-color: green;}
}
@keyframes smooth_green_to_yellow {
    from {background-color: green;}
    to {background-color: yellow;}
}

@media only screen and (max-width: 1020px) {
    .line_gameboard {
        font-size: 4rem;
    }
}
@media only screen and (max-width: 760px) {
    .line_gameboard {
        font-size: 4rem;
    }
    .line_body_div_left {
        height: 100%;
        width: 49%;
    }
    .line_body_div_right {
        height: 100%;
        width: 50%;
    }
}
@media only screen and (max-width: 760px) {
    .line_gameboard {
        font-size: 3rem;
    }
}
@media only screen and (max-width: 560px) {
    .line_gameboard {
        font-size: 2rem;
    }
}
@media only screen and (max-width: 460px) {
    .line_gameboard {
        font-size: 4rem;
    }
    .line_body_div_left {
        height: 50%;
        width: 100%;
        float: left;
    }
    .line_body_div_right {
        height: 50%;
        width: 100%;
        float: right;
    }
}
