.result_board {
    width: 100%;
    height: 60%;

    margin-top: 13px;
    margin-bottom: 13px;
}
.result_board_belt, .result_board_chart {
    width: 94%;
    height: 50%;

    margin-left: 3%;
    margin-right: 3%;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    user-select: none;
    font-size: 6.2rem;
    font-family: 'Grinched';
    text-shadow: 2px 2px black;

    box-shadow: 7px 7px black;

    transition: transform .8s;
    border-radius: 15px 50px;
    background-color: #00cc66;
}
.result_board_belt_left {
    width: 40%;
    height: 100%;
    float: left;

    display: flex;
    align-items: center;
    justify-content: center;
}
.result_board_belt_left_img {
    width: 200px;
    height: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    border: 5px solid black;
}
.result_board_belt_left_img img {
    height: 90%;
    width: 90%;
}
.result_board_belt_right {
    width: 59%;
    height: 100%;
    float: right;
    padding: 10%;

    display: flex;
    align-items: center;
    justify-content: center;

    user-select: none;
    text-align: center;
    text-shadow: 1px 1px black;
    font-family: 'Grinched';
    font-size: 2.5rem;
    line-height: 1.2;
}
.result_board_body {
    width: 94%;
    height: 46%;

    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;

    user-select: none;
    text-align: center;
    text-shadow: 1px 1px black;
    font-family: 'Grinched';
    font-size: 2.8rem;
    line-height: 1.4;
}
.result_board_button_wrapper {
    width: 90%;
    height: 60px;

    margin-top: 70px;
    margin-left: 5%;
    margin-right: 5%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: black;
    font-size: 2.2rem;
    font-family: 'Grinched';
    text-align: center;
}
.result_board_button_left {
    width: 90%;
    height: 100%;
    float: left;

    display: flex;
    align-items: center;
    justify-content: space-around;
}
.result_board_button_right {
    width: 90%;
    height: 100%;
    float: right;

    display: flex;
    align-items: center;
    justify-content: space-around;
}
.result_board_button {
    width: 45%;
    height: 90%;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    background-color: #f5f5f5;
    border-radius: 15px;
    box-shadow: 1px 1px 3px 0px grey;

    transition: transform .5s;
}
.result_board_button:hover {
    border: 3px solid orange;
    transform: scale(1.07);
}
.result_board_button:active {
    background-color: rgba(0, 0, 0, 0.8);
    outline: none;
}
.result_board_button:focus {
    outline: none;
}
@media only screen and (max-width: 1080px) {
    .result_board_belt, .result_board_chart {
        font-size: 6.0rem;
    }
}
@media only screen and (max-width: 980px) {
    .result_board_belt, .result_board_chart {
        font-size: 5.5rem;
    }
}
@media only screen and (max-width: 910px) {
    .result_board_belt_right {
        font-size: 2.4rem;
        line-height: 1.1;
    }
}
@media only screen and (max-width: 890px) {
    .result_board_belt, .result_board_chart {
        font-size: 5.0rem;
    }
    .result_board_belt_right {
        font-size: 2.3rem;
    }
}
@media only screen and (max-width: 840px) {
    .result_board_belt, .result_board_chart {
        font-size: 4.5rem;
    }
    .result_board_belt_right {
        font-size: 2.1rem;
    }
}
@media only screen and (max-width: 800px) {
    .result_board_belt, .result_board_chart {
        letter-spacing: -3px;
        font-size: 4.0rem;
    }
    .result_board_belt_right {
        letter-spacing: 0px;
        font-size: 2rem;
    }
    .result_board_body {
        font-size: 2.6rem;
    }
    .result_board_button_wrapper {
        height: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 2.0rem;
    }
}
@media only screen and (max-width: 690px) {
    .result_board_body {
        font-size: 2.2rem;
    }
    .result_board_belt_right {
        font-size: 1.8rem;
    }
}
@media only screen and (max-width: 660px) {
    .result_board_belt, .result_board_chart {
        font-size: 3.5rem;
    }
    .result_board_button_wrapper {
        height: 100px;
        display: block;
    }
    .result_board_button_left {
        height: 48%;
        width: 100%;
        margin-bottom: 2%;
    }
    .result_board_button_right {
        height: 48%;
        width: 100%;
        margin-top: 2%;
    }
}
@media only screen and (max-width: 540px) {
    .result_board_belt_left {
        width: 35%;
    }
    .result_board_belt_left_img {
        width: 130px;
        height: 130px;
    }
    .result_board_belt_right {
        width: 64%;
        padding: 1%;
    }
}
@media only screen and (max-width: 500px) {
    .result_board_belt, .result_board_chart {
        font-size: 3.0rem;
    }
}
@media only screen and (max-width: 450px) {
    .result_board_belt, .result_board_chart {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
        font-size: 2.5rem;
    }
    .result_board_body {
        font-size: 1.5rem;
    }
    .result_board_button_wrapper {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 330px) {
    .result_board_belt, .result_board_chart {
        font-size: 2.0rem;
    }
}