.result_board {
    width: 90%;
    height: 75%;
    padding: 2%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Grinched';
    text-align: center;
    background-color: #004d00;
    color: white;
    text-shadow: 2px 2px black;
    border: 3px solid black;
    border-radius: 15px 50px;
    box-shadow: 7px 7px black;
}
.result_board_title {
    width: 100%;
    height: 10%;
    margin-bottom: 1%;
    font-size: 2.5rem;
    color: yellow;
}
.result_board_chart {
    width: 100%;
    height: 50%;
    margin-top: 1%;

    cursor: pointer;
    font-size: 7.0rem;

    display: flex;
    align-items: center;
    justify-content: center;
}
.result_board_body {
    width: 100%;
    height: 10%;
    font-size: 3.0rem;
    line-height: 0.9;
}
.result_board_button {
    margin-top: 5%;
    width: 20%;
    height: 10%;

    cursor: pointer;
    color: black;
    font-size: 3.0rem;
    font-family: 'Grinched';
    text-align: center;

    border: 1px solid black;
    border-radius: 15px;
    background-color: #f5f5f5;
}
.result_board_button:hover {
    border: 1px solid #aaa;
}
.result_board_button:active {
  background-color: rgba(0, 0, 0, 0.8);
  outline: none;
}
.result_board_button:focus {
  outline: none;
}
@media only screen and (max-width: 760px) {
    .result_board {
        width: 100%;
        padding: 0%;
        margin: 0%;
        text-shadow: none;
    }
    .result_board_title {
        width: 100%;
        height: 4%;
        font-size: 1.5rem;
        letter-spacing: .2rem;
    }
    .result_board_chart {
        height: 30%;
        font-size: 3.0rem;
    }
    .result_board_body {
        height: 10%;
        font-size: 2.0rem;
        line-height: 0.9;
        letter-spacing: .1rem;
    }
    .result_board_button_left {
        font-size: 2.0rem;
        letter-spacing: .1rem;
    }
    .result_board_button_right {
        font-size: 2.0rem;
        letter-spacing: .1rem;
    }
}
