.taskgame_header_wrapper {
    height: 7%;
    width: 100%;

    font-size: 2.00rem;
    font-family: 'Grinched';
    text-shadow: 2px 2px black;
}
.taskgame_body_wrapper {
    height: 89%;
    width: 100%;
}
.taskgame_footer_wrapper {
    height: 3%;
    width: 98%;

    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #333333;
    background-color: #ffcccc;
    text-align: center;
    user-select: none;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;

    border-radius: 5px;
    border: 3px solid #ff1a1a;
}

.taskgame_header_wrapper_left {
    height: 100%;
    width: 64%;
    float: left;
    padding-left: 2%;

    display: flex;
    align-items: center;

    color: orange;
    cursor: pointer;
}
.taskgame_header_wrapper_right {
    height: 100%;
    width: 35%;
    float: right;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.taskgame_body_wrapper_left {
    height: 100%;
    width: 64%;
    float: left;
}
.taskgame_body_wrapper_right {
    height: 100%;
    width: 35%;
    float: right;
}
.taskgame_body_wrapper_up {
    height: 34%;
    width: 98%;

    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
}
.taskgame_body_wrapper_down {
    height: 64%;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;

    display: flex;
    justify-content: center;
}
.taskgame_gameboard_image_wrapper {
    height: 200px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    border-radius: 15px;
    box-shadow: 1px 1px 3px 0px black;
}
.taskgame_gameboard_image_wrapper img {
    height: 95%;
    width: auto;
    border-radius: 15px;
}
.taskgame_line_gameboard {
    height: 90%;
    width: 100%;

    padding: 13px;

    display: flex;
    align-items: center;

    user-select: none;
    text-align: justify;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;

    background-color: #006600;
    color: white;

    border: 3px solid black;
    border-radius: 15px;
}

.taskgame_answer_text {
    height: 35%;
    width: 96%;

    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    user-select: none;
    font-family: 'Grinched';
    font-size: 2.0rem;

    transition: all .9s;

    border-radius: 5px;
    box-shadow: 1px 1px 3px 0px black;
}
.taskgame_answer_text font {
    animation: blinker 5s linear infinite; 
}
@keyframes blinker {
    100% {
        opacity: 10%;
    }
}
.taskgame_answer_btn {
    height: 25%;
    width: 96%;

    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    background-color: #f5f5f5;

    user-select: none;
    font-family: 'Grinched';
    font-size: 2.0rem;
    text-align: center;

    transition: all .7s;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 0px black;
}
.taskgame_answer_btn:active {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    outline: none;
}
.taskgame_answer_btn:focus {
    outline: none;
}
@media only screen and (max-width: 760px) {
    .taskgame_header_wrapper {
        height: 5%;
    }
    .taskgame_header_wrapper {
        font-size: 1.5rem;
        text-shadow: 1px 1px black;
    }
}
@media only screen and (max-width: 600px) {
}
