/*
    7% .taskgame_header_wrapper
    89% .taskgame_body_wrapper
    4% .taskgame_footer_wrapper
*/
.taskgame_header_wrapper {
    height: 7%;
    width: 100%;

    user-select: none;
    font-size: 2.00rem;
    font-family: 'Grinched';
    text-shadow: 2px 2px black;
}
.taskgame_body_wrapper {
    height: 89%;
    width: 100%;
}
.taskgame_footer_wrapper {
    height: 3%;
    width: 98%;

    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #333333;
    background-color: #ffcccc;
    text-align: center;
    user-select: none;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;

    border-radius: 5px;
    border: 1px solid black;
}

.taskgame_header_wrapper_left {
    height: 100%;
    width: 64%;
    float: left;
    padding-left: 2%;
    user-select: none;

    display: flex;
    align-items: center;

    color: orange;
    cursor: pointer;
}
.taskgame_header_wrapper_right {
    height: 100%;
    width: 35%;
    float: right;
    cursor: pointer;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.taskgame_body_wrapper_left {
    height: 100%;
    width: 64%;
    float: left;
}
.taskgame_body_wrapper_right {
    height: 100%;
    width: 35%;
    float: right;

    display: flex;
    align-items: center;
    justify-content: center;
}
.taskgame_gameboard_image_wrapper {
    height: 47%;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    border-radius: 11px;
    box-shadow: 1px 1px 2px 1px black;
}
.taskgame_gameboard_image_wrapper img {
    height: 95%;
    width: auto;
    border-radius: 11px;
}

.taskgame_gameboard_task_wrapper {
    height: 47%;
    width: 96%;

    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;

    padding: 13px;

    display: flex;
    align-items: center;

    user-select: none;
    text-align: justify;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;

    background-color: #006600;
    color: white;

    border-radius: 11px;
    box-shadow: 2px 2px 2px 2px black;
}

@media only screen and (max-width: 800px) {
    .taskgame_header_wrapper {
        height: 5%;
        font-size: 1.85rem;
    }
    .taskgame_body_wrapper {
        height: 95%;
        width: 100%;
    }
}
@media only screen and (max-width: 660px) {
    .taskgame_header_wrapper {
        height: 4%;
        width: 100%;
        font-size: 1.3rem;
        text-shadow: 1px 1px black;
    }
    .taskgame_header_wrapper_left {
        width: 35%;
        float: left;
        padding-left: 0;
        justify-content: space-around;
    }
    .taskgame_header_wrapper_right {
        width: 64%;
        float: right;
    }

    .taskgame_body_wrapper {
        height: 96%;
        width: 100%;
    }
    .taskgame_body_wrapper_left {
        height: 55%;
        width: 100%;
        float: none;
    }
    .taskgame_body_wrapper_right {
        height: 45%;
        width: 100%;
        float: none;
    }

    .taskgame_gameboard_image_wrapper {
        height: 45%;
        width: 98%;

        margin-top: 0%;
        margin-bottom: 1%;
        margin-left: 1%;
        margin-right: 1%;

        box-shadow: none;
        border-radius: 11px;
        border: 2px solid grey;
    }
    .taskgame_gameboard_image_wrapper img {
        height: 100%;
        width: auto;
    }
    .taskgame_gameboard_answer_wrapper {
        height: 8%;
        width: 98%;

        margin: 1%;

        box-shadow: none;
        border-radius: 11px;
        border: 2px solid grey;
    }
    .taskgame_gameboard_task_wrapper {
        height: 45%;
        width: 98%;
        margin: 1%;
        margin-left: 1%;
        margin-right: 1%;
        padding: 7px;

        font-size: 17px;
        font-weight: normal;
        border-radius: 11px;
        border: 2px solid green;
        box-shadow: none;
    }
}

/* height */
@media only screen and (max-height: 650px) {
    .taskgame_body_wrapper_left {
        height: 40%;
        width: 100%;
        float: none;
    }
    .taskgame_body_wrapper_right {
        height: 60%;
        width: 100%;
        float: none;
    }
    .taskgame_gameboard_task_wrapper {
        font-size: 16px;
    }
    .taskgame_gameboard_answer_wrapper {
        height: 50%;
        width: 98%;

        margin-top: 2%;
        margin-left: 1%;
        margin-right: 1%;

        border-radius: 11px;
        border: 2px outset orange;
    }
}
