.d3_body_div {
    height: 80%;
    width: 100%;
}
.d3_body_div_left {
    height: 100%;
    width: 61%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
.d3_body_div_right {
    height: 100%;
    width: 38%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}
.d3_gameboard {
    height: 90%;
    width: 90%;
    font-family: "Grinched";
    font-size: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    color: black;
    border: 3px solid black;
    border-radius: 15px 50px;
    box-shadow: 7px 7px black;
}
.d3_task {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.d3_result {
    width: 10%;
    height: 100%;
    color: black;
    text-shadow: 2px 2px black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.d3_footer_div {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
