.d2_body_div_left {
    height: 100%;
    width: 59%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
.d2_body_div_right {
    height: 100%;
    width: 40%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}
.d2_gameboard {
    height: 100%;
    width: 100%;

    font-size: 7rem;
    font-family: "Grinched";

    display: flex;
    align-items: center;
    justify-content: center;
}
.d2_gameplay {
    height: 90%;
    width: 90%;
    color: black;

    background-color: yellow;
    border: 3px solid black;
    border-radius: 15px 50px;
    box-shadow: 7px 7px black;
}
.d2_task {
    margin-right: 10%;
    height: 17%;
    width: 80%;
    text-align: right;
    float: right;
    line-height: 0.9;
}
.d2_result {
    margin-right: 10%;
    height: 20%;
    width: 80%;
    float: right;
    text-align: right;
    line-height: 1.2;
}
.d2_black_line {
    margin-right: 5%;
    width: 45%;
    height: 8px;
    background-color: black;
    border: 0 none;
    float: right;
    border-radius: 5px;
}
