.header_div {
    position: static;
    left: 0px;
    top: 0px;
    height: 65px;
    width: 100%;

    font-family: 'Grinched';
    font-variant: small-caps;
    font-size: 2.0rem;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    background-color: #3f51b5;
    border-style: none;
}
.header_div_left {
    height: 100%;
    width: 40%;

    float: left;
    cursor: pointer;

    display: flex;
    align-items: center;
}
.header_div_right {
    height: 100%;
    width: 59%;

    float: right;
    cursor: pointer;

    text-align: right;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.font_supermath {
    margin-left: 5%;
    color: orange;
}
.font_about {
    margin-left: 5%;
    color: green;
}
.font_help {
    margin-left: 5%;
    color: green;
}
.font_lang {
    margin-right: 5%;
    float: right;
    color: green;
}
.font_login {
    margin-right: 4%;
    float: right;
    color: green;
}
.font_userinfo {
    margin-right: 1%;
    float: right;
    color: orange;
}
.font_userinfo_last {
    margin-right: 4%;
    float: right;
    color: orange;
}
.font_register {
    margin-right: 5%;
    float: right;
    color: green;
}
@media only screen and (max-width: 860px) {
    .header_div_left {
        width: 33%;
    }
    .header_div_right {
        width: 67%;
    }
}
@media only screen and (max-width: 760px) {
    .header_div {
        height: 45px;
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 580px) {
    .header_div {
        height: 80px;
        font-size: 2.0rem;
    }
    .header_div_left {
        height: 49%;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header_div_right {
        height: 50%;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .font_lang {
        margin-left: 5%;
    }
    .font_login {
        margin-left: 5%;
        margin-right: 0;
    }
}
