.user_login_text {
    margin-right: 1%;
    font-family: 'Grinched';
    font-variant: 'small-caps';
    color: 'orange';
    text-shadow: '1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue';
}
.fab_styles {
    width: 55px;
    height: 55px;
    color: white;
}
