.language_selector_image_map {
    height: 140px;
    width: 90%;

    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5px;

    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
    box-shadow: 1px 1px 3px 0px grey;
}
.language_selector_image_map img {
    height: 200%;
    width: 100%;
}
.language_selector_wrapper {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;

    display: flex;
    flex-direction: column;

    user-select: none;
    font-family: Arial, sans-serif;
    font-size: 1.15rem;
    font-weight: bold;
}
.language_selector_row {
    height: 55px;
    width: 100%;
    margin-top: 7px;

    display: flex;
    align-items: center;
    cursor: pointer;

    background-color: #e6e6e6;

    border: 1px solid #e6e6e6;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 0px grey;

    transition: transform .5s;
}
.language_selector_row:hover {
    background-color: #ffe6e6;
    border: 1px solid grey;
    transform: scale(1.02);
}
.language_selector_row_selected {
    height: 55px;
    width: 100%;
    margin-top: 5px;

    display: flex;
    align-items: center;

    background-color:  #ccffcc;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 0px grey;
    border: 1px solid grey;
}
.language_selector_row_image {
    height: 50px;
    width: 50px;

    margin-left: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;

    border-radius: 50%;
}
.language_selector_row_image img {
    height: 100%;
    width: auto;
    transition: transform .5s;
}
.language_selector_row_image img:hover {
    transform: scale(1.20);
}
.language_selector_row_label {
    height: 50px;
    width: 50%;

    padding-left: 20px;
    display: flex;
    align-items: center;
}
.language_title {
    margin: 3%;
    color: green;
    font-family: 'Grinched';
    font-size: 2.5rem;
    text-align:'center';
    text-shadow: '1px 1px 2px black';
    line-height: 0.9;
}
.language_selector {
    margin: 5%;
    padding-left: 7%;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    border-radius: 15px;
}
