.login_wrapper {
    margin-top: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;
}
.login_forms {
    width: 90%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.login_account {
    width: 90%;
    height: 70px;
    cursor: pointer;

    font-size: 1.00rem;
    font-weight: bold;

    border-radius: 5px;
    border: 1px solid white;
}
.login_account:hover {
    border-radius: 5px;
    border: 1px solid grey;
    /*#3f51b5;*/
}
.login_account_avatar {
    width: 19%;
    height: 100%;
    float: left;

    display: flex;
    align-items: center;
    justify-content: center;
}
.login_account_avatar img {
    height: 90%;
    width: auto;
}
.login_account_name {
    width: 80%;
    height: 100%;
    float: right;
}
.login_account_name_signout {
    width: 100%;
    height: 20%;
    font-size: 0.70rem;
    text-align: right;
}
.login_account_name_surname {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
}
.login_account_name_email {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
}
