.login_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
}
.login_wrapper_left {
    height: 100%;
    width: 69%;

    float: left;

    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login_wrapper_right {
    height: 100%;
    width: 29%;

    float: right;
    margin-right: 1%;
    user-select: none;
}
.login_wrapper_center {
    height: 100%;
    width: 65%;
    margin-top: 3%;
    text-align: center;
    color: grey;
}

.login_wrapper_signin {
    height: 24%;
    width: 100%;
    padding: 1%;
    margin-bottom: 1%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.login_wrapper_signin_net {
    height: 100%;
    width: 85%;

    min-height: 43px;

    display: flex;
    align-items: center;

    cursor: pointer;
    color: #333333;
    text-align: left;
    user-select: none;

    font-size: 14px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;

    border-radius: 5px;
    border: 1px solid #d9d9d9;
}
.login_wrapper_signin_net:hover {
    border: 1px solid black;
}
.login_wrapper_signin_net_icon {
    height: 29px;
    width: 29px;
    margin: 7px;
}
.login_wrapper_signin_net_icon img {
    height: 100%;
    width: auto;
}
.login_forms {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login_forms_links {
    width: 90%;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
}

.login_wrapper_users {
    user-select: none;

    padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.login_account {
    height: 70px;
    width: 49%;
    margin-bottom: 5px;

    cursor: pointer;

    font-size: 1.00rem;
    font-weight: bold;

    border-radius: 5px;
    transition: all .5s;

    border: 1px solid #d9d9d9;
}
.login_account:hover {
    border-radius: 5px;
    border: 1px solid black;
}
.login_account_avatar {
    width: 12%;
    height: 100%;
    float: left;

    display: flex;
    align-items: center;
    justify-content: center;
}
.login_account_avatar img {
    height: 97%;
    width: auto;
}
.login_account_name {
    width: 85%;
    height: 100%;
    margin-left: 3%;
    float: right;
}
.login_account_name_signout {
    width: 100%;
    height: 20%;
    font-size: 0.70rem;
    text-align: right;
}
.login_account_name_signout font {
    transition: all .5s;
}
.login_account_name_signout font:hover {
    color: white;
    transform: scale(1.05);
    background-color: black;
}
.login_account_name_surname {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
}
.login_account_name_email {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
}
