.trophy_title {
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    color: orange;
    font-family: 'Grinched';
    font-size: 3.0rem;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    line-height: 0.9;
}
.trophy_wrapper {
    margin-left: 5px;
    margin-right: 5px;

    user-select: none;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.trophy_table_wrapper {
    min-width: 413px;
    max-width: 413px;
    min-height: 500px;
    margin: 13px;
}
.trophy_table_wrapper img {
    margin-top: 140px;
    height: 140px;
    width: auto;
    -webkit-animation: numbers360rotation 4s linear infinite;
    -moz-animation: numbers360rotation 4s linear infinite;
    animation: numbers360rotation 4s linear infinite;
}
@-moz-keyframes numbers360rotation { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes numbers360rotation { 100% { -webkit-transform: rotate(360deg); } }
@keyframes numbers360rotation { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.trophy_table_row {
    height: 37px;
    width: 100%;

    cursor: pointer;
    margin-top: 5px;
    font-size: 1.4rem;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
    transition: all 2s;
    animation: fade 2s;
}
@keyframes fade {
  from {opacity: .1} 
  to {opacity: 1}
}
.trophy_table_row:hover {
    box-shadow: 3px 3px 5px 0px grey;
}
.trophy_table_cell_num {
    height: 100%;
    width: 13%;
    float: left;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: yellow;

    border-radius: 5px;
    box-shadow: 1px 1px 3px 0px grey;
}
.trophy_table_cell_name {
    height: 100%;
    width: 65%;

    float: left;

    margin-left: 3px;
    margin-right: 3px;

    padding-left: 9px;
    padding-right: 9px;

    display: flex;
    align-items: center;

    overflow: hidden;
    white-space: nowrap; 
    text-overflow: clip; 

    border-radius: 5px;
    box-shadow: 1px 1px 3px 0px grey;
    background-color: #bbff99;
}
.trophy_table_cell_res {
    height: 100%;
    width: 20%;
    float: right;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: yellow;

    border-radius: 5px;
    box-shadow: 1px 1px 3px 0px grey;
}
