.enter_keyboard_wrapper {
    height: 350px;
    width: 340px;
    user-select: none;
}
.enter_keyboard_answer {
    width: 96%;
    margin: 2%;

    display: flex;
    align-items: center;
    justify-content: center;

    user-select: none;
    font-size: 2.75rem;
    font-family: 'Grinched';

    transition: all .9s;
    border-radius: 2px;
    border: 1px solid green;
}
.enter_keyboard_answer font {
    animation: blinker 5s linear infinite; 
}
.enter_keyboard {
    min-height: 265px;
    max-height: 265px;
    min-width: 340px;
    max-width: 340px;
    user-select: none;
}
.enter_keyboard button {
    width: 30%;
    margin: 0.33rem;

    -webkit-box-flex: 1;
    flex: 1 1 calc(25% - 0.5rem);

    color: #444;
    cursor: pointer;
    user-select: none;
    font-size: 2.75rem;
    font-family: 'Grinched';
    background-color: #f5f5f5;

    outline: none;
    text-transform: uppercase;
    border-radius: 2px;
    border: 1px solid #c6c6c6;

    transition: background-color 1s ease-out;
}
.enter_keyboard button:hover {
    border: 1px solid #aaa;
}
.enter_keyboard button:active {
    background-color: rgba(0, 0, 0, 0.8);
    outline: none;
}
.enter_keyboard button:focus {
    outline: none;
}

@keyframes blinker { 100% { opacity: 10%; } }
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@media only screen and (max-width: 980px) {
    .enter_keyboard {
        min-width: 320px;
        max-width: 320px;
    }
    .enter_keyboard button {
        margin: 0.3rem;
        font-size: 2.65rem;
    }
}
@media only screen and (max-width: 920px) {
    .enter_keyboard {
        min-width: 300px;
        max-width: 300px;
    }
    .enter_keyboard button {
        margin: 0.25rem;
        font-size: 2.55rem;
    }
}
@media only screen and (max-width: 860px) {
    .enter_keyboard {
        min-width: 270px;
        max-width: 270px;
    }
    .enter_keyboard button {
        margin: 0.10rem;
        font-size: 2.55rem;
    }
}
@media only screen and (max-width: 780px) {
    .enter_keyboard {
        min-width: 250px;
        max-width: 250px;
    }
    .enter_keyboard button {
        font-size: 2.25rem;
    }
}
@media only screen and (max-width: 720px) {
    .enter_keyboard {
        min-width: 230px;
        max-width: 230px;
    }
    .enter_keyboard button {
        font-size: 2rem;
    }
}
@media only screen and (max-width: 660px) {
    .enter_keyboard {
        min-width: 200px;
        max-width: 200px;
    }
    .enter_keyboard button {
        margin: 0.20rem;
    }
}
@media only screen and (max-width: 600px) {
    /* restore original sizes since device in hiehg mode */
    .enter_keyboard {
        min-height: 265px;
        max-height: 265px;
        min-width: 340px;
        max-width: 340px;
    }
    .enter_keyboard button {
        margin: 0.33rem;
        font-size: 2.75rem;
    }
}
@media only screen and (max-width: 420px) {
    .enter_keyboard {
        min-height: 235px;
        max-height: 235px;
    }
    .enter_keyboard button {
        margin: 0.3rem;
        font-size: 2.45rem;
    }
}
@media only screen and (max-width: 360px) {
    .enter_keyboard {
        min-width: 320px;
        max-width: 320px;
    }
    .enter_keyboard button {
        margin: 0.2rem;
        font-size: 2.65rem;
    }
}
@media only screen and (max-width: 341px) {
    .enter_keyboard {
        min-width: 270px;
        max-width: 270px;
    }
    .enter_keyboard button {
        font-size: 2.25rem;
    }
}
@media only screen and (max-width: 320px) {
    .enter_keyboard {
        min-width: 250px;
        max-width: 250px;
    }
}

@media only screen and (max-height: 650px) {
    .enter_keyboard {
        min-height: 230px;
        max-height: 230px;
        min-width: 300px;
        max-width: 300px;
    }
    .enter_keyboard button {
        margin: 0.3rem;
        font-size: 2.45rem;
    }
}

#remove,
#enter {
    background-color: #d6d6d6;
}

#remove:active,
#enter:active {
     background-color: rgba(0, 0, 0, 0.8);
}

#remove:hover,
#enter:hover {
     border: 1px solid #aaa;
}

#remove {
    color: #E5E5E5;
    background-color: #fdaeba;
    font-weight: 700;
}

#enter {
    color: #E5E5E5;
    background-color: #79d279;
    font-weight: 700;
}

