.keyboard {
    min-height: 265px;
    max-height: 265px;
    min-width: 340px;
    max-width: 340px;
    user-select: none;
}
.keyboard button {
    font-family: "Grinched";
    -webkit-box-flex: 1;
    flex: 1 1 calc(25% - 0.5rem);
    width: 30%;
    margin: 0.33rem;
    font-size: 2.75rem;
    outline: none;
    user-select: none;
    border: 1px solid #c6c6c6;
    border-radius: 2px;
    text-transform: uppercase;
    cursor: pointer;
    color: #444;
    background-color: #f5f5f5;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}
.keyboard button:hover {
    border: 1px solid #aaa;
}
.keyboard button:active {
    background-color: rgba(0, 0, 0, 0.8);
    outline: none;
}
.keyboard button:focus {
    outline: none;
}

@media only screen and (max-width: 980px) {
    .keyboard {
        min-width: 320px;
        max-width: 320px;
    }
    .keyboard button {
        margin: 0.3rem;
        font-size: 2.65rem;
    }
}
@media only screen and (max-width: 920px) {
    .keyboard {
        min-width: 300px;
        max-width: 300px;
    }
    .keyboard button {
        margin: 0.25rem;
        font-size: 2.55rem;
    }
}
@media only screen and (max-width: 860px) {
    .keyboard {
        min-width: 270px;
        max-width: 270px;
    }
    .keyboard button {
        margin: 0.10rem;
        font-size: 2.55rem;
    }
}
@media only screen and (max-width: 780px) {
    .keyboard {
        min-width: 250px;
        max-width: 250px;
    }
    .keyboard button {
        font-size: 2.25rem;
    }
}
@media only screen and (max-width: 720px) {
    .keyboard {
        min-width: 230px;
        max-width: 230px;
    }
    .keyboard button {
        font-size: 2rem;
    }
}
@media only screen and (max-width: 660px) {
    .keyboard {
        min-width: 200px;
        max-width: 200px;
    }
    .keyboard button {
        margin: 0.20rem;
    }
}
@media only screen and (max-width: 600px) {
    /* restore original sizes since device in hiehg mode */
    .keyboard {
        min-height: 265px;
        max-height: 265px;
        min-width: 340px;
        max-width: 340px;
    }
    .keyboard button {
        margin: 0.33rem;
        font-size: 2.75rem;
    }
}
@media only screen and (max-width: 420px) {
    .keyboard {
        min-height: 235px;
        max-height: 235px;
    }
    .keyboard button {
        margin: 0.3rem;
        font-size: 2.45rem;
    }
}
@media only screen and (max-width: 360px) {
    .keyboard {
        min-width: 320px;
        max-width: 320px;
    }
    .keyboard button {
        margin: 0.2rem;
        font-size: 2.65rem;
    }
}
@media only screen and (max-width: 341px) {
    .keyboard {
        min-width: 270px;
        max-width: 270px;
    }
    .keyboard button {
        font-size: 2.25rem;
    }
}
@media only screen and (max-width: 320px) {
    .keyboard {
        min-width: 250px;
        max-width: 250px;
    }
}

@media only screen and (max-height: 650px) {
    .keyboard {
        min-height: 230px;
        max-height: 230px;
        min-width: 300px;
        max-width: 300px;
    }
    .keyboard button {
        margin: 0.3rem;
        font-size: 2.45rem;
    }
}

#dot,
#clear,
#divide,
#multiply,
#subtract,
#add {
    background-color: #d6d6d6;
}

#dot:active,
#divide:active,
#multiply:active,
#subtract:active,
#add:active,
#clear:active {
     background-color: rgba(0, 0, 0, 0.8);
}

#dot:hover,
#clear:hover,
#divide:hover,
#multiply:hover,
#subtract:hover,
#add:hover {
     border: 1px solid #aaa;
}

#clear {
    color: #E5E5E5;
    background-color: #fdaeba;
    font-weight: 700;
}
