.keyboard {
    min-height: 330px;
    max-height: 330px;
    min-width: 320px;
    max-width: 320px;
    border: 1px solid black;
}

.keyboard button {
  font-family: "Grinched";
  -webkit-box-flex: 1;
  flex: 1 1 calc(25% - 0.5rem);
  width: 30%;
  margin: 0.33rem;
  font-size: 2.75rem;
  outline: none;
  border: 1px solid #c6c6c6;
  border-radius: 2px;
  text-transform: uppercase;
  cursor: pointer;
  color: #444;
  background-color: #f5f5f5;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

.keyboard button:hover {
  border: 1px solid #aaa;
}

.keyboard button:active {
  background-color: rgba(0, 0, 0, 0.8);
  outline: none;
}

.keyboard button:focus {
  outline: none;
}

#parenthesis-open,
#parenthesis-close,
#modulo,
#clear,
#more,
#equals,
#less,
#divide,
#multiply,
#subtract,
#add {
  background-color: #d6d6d6;
}

#parenthesis-open:active,
#parenthesis-close:active,
#modulo:active,
#clear:active,
#equals:active,
#divide:active,
#multiply:active,
#subtract:active,
#add:active,
#clear:active {
  background-color: rgba(0, 0, 0, 0.8);
}

#parenthesis-open:hover,
#parenthesis-close:hover,
#modulo:hover,
#clear:hover,
#equals:hover,
#divide:hover,
#multiply:hover,
#subtract:hover,
#add:hover {
  border: 1px solid #aaa;
}

#clear {
  color: #f5f5f5;
  font-weight: 700;
  background-color: #fc5d76;
}
