.linekeyboard {
    min-width: 920px;
    max-width: 920px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid grey;
    border-radius: 10px;
}
.linekeyboard button {
    width: 9%;
    margin: 1%;

    flex: 1 1 calc(25% - 0.5rem);
    font-family: "Grinched";
    font-size: 4.00rem;
    outline: none;
    border: 1px solid #c6c6c6;
    border-radius: 10px;
    cursor: pointer;
    color: #444;
    background-color: #ddd;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}
.linekeyboard button:hover {
    border: 1px solid #aaa;
}
.linekeyboard button:active {
    background-color: rgba(0, 0, 0, 0.8);
    outline: none;
}
.linekeyboard button:focus {
    outline: none;
}
@media only screen and (max-width: 1200px) {
    .linekeyboard button {
        width: 67px;
        height: 77px;
        margin: 5px;
        font-size: 2.5rem;
    }
}
