.linekeyboard {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 10px;
}
.linekeyboard button {
    font-family: "Grinched";
    width: 80px;
    height: 80px;
    margin: 10px;
    font-size: 4.00rem;
    outline: none;
    border: 1px solid #c6c6c6;
    border-radius: 10px;
    cursor: pointer;
    color: #444;
    background-color: #ddd;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}
.linekeyboard button:hover {
    border: 1px solid #aaa;
}
.linekeyboard button:active {
    background-color: rgba(0, 0, 0, 0.8);
    outline: none;
}
.linekeyboard button:focus {
    outline: none;
}
