.linekeyboard {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 10px;
}
.linekeyboard button {
    width: 73px;
    height: 73px;
    margin: 10px;

    font-family: "Grinched";
    font-size: 4.00rem;
    outline: none;
    border: 1px solid #c6c6c6;
    border-radius: 10px;
    cursor: pointer;
    color: #444;
    background-color: #ddd;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}
.linekeyboard button:hover {
    border: 1px solid #aaa;
}
.linekeyboard button:active {
    background-color: rgba(0, 0, 0, 0.8);
    outline: none;
}
.linekeyboard button:focus {
    outline: none;
}
@media only screen and (max-width: 1020px) {
    .operatorboard button {
        width: 63px;
        height: 63px;
        margin: 5px;
    }
}
@media only screen and (max-width: 800px) {
    .operatorboard button {
        width: 43px;
        height: 43px;
        margin: 2px;
        font-size: 2.00rem;
    }
}
