.operatorboard {
    width: 100%;

    min-height: 150px;
    max-height: 150px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.operatorboard button {
    font-family: "Grinched";
    width: 120px;
    height: 120px;
    margin: 20px;
    font-size: 6.00rem;
    outline: none;
    border: 1px solid #c6c6c6;
    border-radius: 50%;
    cursor: pointer;
    color: #444;
    background-color: #ddd;

    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}

.operatorboard button:hover {
    border: 1px solid #aaa;
}

.operatorboard button:active {
    background-color: rgba(0, 0, 0, 0.8);
    outline: none;
}

.operatorboard button:focus {
    outline: none;
}

@media only screen and (max-width: 1220px) {
    .operatorboard button {
        width: 130px;
        height: 90px;
    }
}
