.operatorboard {
    width: 100%;

    min-height: 150px;
    max-height: 150px;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center; 
}
.operatorboard_button {
    width: 120px;
    height: 120px;
    margin: 45px;

    color: #444;
    outline: none;
    font-size: 6.00rem;
    font-family: 'Grinched';

    cursor: pointer;
    user-select: none;

    border-radius: 50%;
    background-color: #ddd;
    border: 1px solid #c6c6c6;

    transition: background-color 1s;
}
.operatorboard_button:hover {
    border: 1px solid #aaa;
}
.operatorboard_button:active {
    background-color: rgba(0, 0, 0, 0.8);
    outline: none;
}
.operatorboard_button:focus {
    outline: none;
}

@media only screen and (max-width: 900px) {
    .operatorboard {
        justify-content: space-around; 
    }
    .operatorboard_button {
        margin: 0;
    }
}
@media only screen and (max-width: 460px) {
    .operatorboard_button {
        width: 110px;
        height: 110px;
        font-size: 5.5rem;
    }
}
@media only screen and (max-width: 420px) {
    .operatorboard_button {
        width: 100px;
        height: 100px;
        font-size: 5rem;
    }
}
