.header_div {
    position: static;
    left: 0px;
    top: 0px;
    height: 65px;
    width: 100%;

    user-select: none;
    font-family: 'Grinched';
    font-variant: small-caps;
    font-size: 2.0rem;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    background-color: #3f51b5;
    border-style: none;
}
.header_div_left {
    height: 100%;
    width: 40%;

    float: left;
    cursor: pointer;

    overflow: hidden;
    white-space: nowrap; 
    text-overflow: clip; 

    display: flex;
    align-items: center;
}
.header_div_right {
    height: 100%;
    width: 59%;

    float: right;
    cursor: pointer;

    overflow: hidden;
    white-space: nowrap; 
    text-overflow: clip; 
    text-align: right;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.div_trophy {
    transition: transform 1.0s;
    margin-left: 5%;
    font-size: 1.3rem;
    animation: fade 2s;
    text-shadow: none;
}
.div_trophy:hover {
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    transform: scale(1.2);
}
.div_supermath_long {
    transition: transform 1.0s;
    margin-left: 5%;
    color: orange;
}
.div_supermath_long:hover {
    transform: scale(1.1);
}
.div_supermath_short {
    display: none;
}
.div_supermath_short:hover {
    transform: scale(1.1);
}
.div_about {
    margin-left: 5%;
    color: green;
    transition: transform 1.0s;
}
.div_about:hover {
    color: brown;
    transform: scale(1.1);
}
.div_help {
    margin-left: 5%;
    color: green;
    transition: transform 1.0s;
}
.div_help:hover {
    color: brown;
    transform: scale(1.1);
}
.div_lang {
    margin-left: 2%;
    margin-right: 5%;
    float: right;
    color: green;
    transition: transform 1.0s;
}
.div_lang:hover {
    color: orange;
    transform: scale(1.1);
}
.div_login {
    margin-right: 4%;
    float: right;
    color: green;
    transition: transform 1.0s;
}
.div_login:hover {
    color: orange;
    transform: scale(1.1);
}
.font_userinfo {
    margin-right: 2%;
    float: right;
    color: orange;
    transition: all 2s;
    animation: fade 2s;
}
.font_userinfo_avatar {
    width: 42px;
    height: 42px;
    margin-right: 2%;
    border-radius: 50%;

    background-color: white;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.font_userinfo_avatar img {
    width: 100%;
    height: 100%;
}
.font_userinfo_last {
    margin-right: 4%;
    float: right;
    color: orange;
}
.div_register {
    transition: transform 1.0s;
    margin-right: 5%;
    float: right;
    color: green;
}
.div_register:hover {
    color: red;
    transform: scale(1.1);
}
@keyframes fade {
  from {opacity: .1} 
  to {opacity: 1}
}
@media only screen and (max-width: 860px) {
    .header_div_left {
        width: 39%;
    }
    .header_div_right {
        width: 60%;
    }
}
@media only screen and (max-width: 760px) {
    .header_div {
        height: 45px;
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 580px) {
    .header_div {
        height: 80px;
        font-size: 2.0rem;
    }
    .header_div_left {
        height: 49%;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .header_div_right {
        height: 50%;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .div_register {
        margin: auto;
        color: orange;
    }
    .div_login {
        margin: auto;
        color: orange;
    }
    .div_lang {
        height: 100%;
        margin: none;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media only screen and (max-width: 380px) {
    .div_supermath_long {
        display: none;
    }
    .div_supermath_short {
        display: block;
        margin-left: 5%;
        color: orange;
        transition: transform 1.0s;
    }
}