.header_div {
    position: static;
    left: 0px;
    top: 0px;
    height: 65px;
    width: 100%;

    font-family: 'Grinched';
    font-variant: small-caps;
    font-size: 2.0rem;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    background-color: #3f51b5;
    border-style: none;
}
.header_div_left {
    height: 100%;
    width: 40%;

    float: left;
    cursor: pointer;

    display: flex;
    align-items: center;
}
.header_div_right {
    height: 100%;
    width: 59%;

    float: right;
    cursor: pointer;

    text-align: right;

    overflow: hidden;
    white-space: nowrap; 
    text-overflow: clip; 

    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.div_supermath_long {
    margin-left: 5%;
    color: orange;
    transition: transform .5s;
}
.div_supermath_long:hover {
    transform: scale(1.1);
}
.div_supermath_short {
    display: none;
    margin-left: 5%;
    color: orange;
    transition: transform .5s;
}
.div_supermath_short:hover {
    transform: scale(1.1);
}
.div_about {
    transition: transform .5s;
    margin-left: 5%;
    color: green;
}
.div_about:hover {
    transform: scale(1.1);
}
.font_help {
    transition: transform .5s;
    margin-left: 5%;
    color: green;
}
.font_help:hover {
    transform: scale(1.1);
}
.font_lang {
    margin-right: 5%;
    float: right;
    color: green;
}
.font_login {
    margin-right: 4%;
    float: right;
    color: green;
}
.font_userinfo {
    margin-right: 1%;
    float: right;
    color: orange;
    transition: all 2s;
    animation: fade 2s;
}
.font_userinfo_last {
    margin-right: 4%;
    float: right;
    color: orange;
}
.font_register {
    margin-right: 5%;
    float: right;
    color: green;
}
@keyframes fade {
  from {opacity: .1} 
  to {opacity: 1}
}
@media only screen and (max-width: 860px) {
    .header_div_left {
        width: 33%;
    }
    .header_div_right {
        width: 67%;
    }
}
@media only screen and (max-width: 760px) {
    .header_div {
        height: 45px;
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 580px) {
    .div_supermath_long {
        display: none;
    }
    .div_supermath_short {
        display: block;
    }

    .header_div {
        height: 80px;
        font-size: 2.0rem;
    }
    .header_div_left {
        height: 49%;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header_div_right {
        height: 50%;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .font_register {
        margin: auto;
        color: orange;
    }
    .font_lang {
        display: none;
    }
    .font_login {
        display: none;
    }
}
